.row{
	max-width:1260px;
	margin:0px auto;
}

body{
	background:url('../img/theme/bg.png');
}
h1{
	color:#b33f4c;
	margin-bottom:30px;
}
article h1{
	font-size:30px;
	margin:20px 0px 10px;
}
h2{
	color:#b33f4c;	
}
h3{
	color:#b33f4c;	
}
h4{
	color:#b33f4c;	
}
h5{
	color:#b33f4c;	
}

.bxslider img{
	margin:0px auto;
}
a:link,
a:visited{
	color:#b33f4c;
	font-family:'Open Sans', sans-serif;
}

a:hover,
a:focus{
	text-decoration: none;
}
.tool-bar{
	margin-bottom:20px;
	margin-top:20px;
}
.logo{
	background:url('../img/theme/logo.png') no-repeat top;
	margin:0px auto;
}

.logo a{
    text-indent: -9999px;    
    outline:none;
    margin: 0px auto;
    border:0px;
	display: block;
	width:169px;
	height:66px;	
}

.navigation ul{
	margin:0px;
	padding:0px;
}
.navigation li{
	list-style: none;
	-webkit-transition: background-image 1.2s ease-in-out;
	-moz-transition: background-image 1.2s ease-in-out;
	-ms-transition: background-image 1.2s ease-in-out;
	-o-transition: background-image 1.2s ease-in-out;
	transition: background-image 1.2s ease-in-out;
}

.navigation li a{
	box-shadow: rgba(255,255,255,0.13) 0 1px 0 inset,rgba(0,0,0,0.5) 0 1px 3px;
	display: table-cell;
	-webkit-font-smoothing: antialiased;
	vertical-align: bottom;
	width:284px;
	height:130px;
	color:#fff;
	font-family: arial,'Open Sans', sans-serif;
	font-size:23px;
	text-align: center;
	text-shadow: rgba(0,0,0,0.7) 0 1px 1px;
	position: relative;
	padding-bottom:3px;
	-webkit-transition: background-image 1.2s ease-in-out;
	-moz-transition: background-image 1.2s ease-in-out;
	-ms-transition: background-image 1.2s ease-in-out;
	-o-transition: background-image 1.2s ease-in-out;
	transition: background-image 1.2s ease-in-out;
}


	.navigation li a:hover{
		background-size: auto, 300px auto; 
	}

.navigation li a:after {
	opacity: .7;
	content: "";
	width: 10px;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	z-index: 2;
	-webkit-transition: width 0.35s;
	transition: width 0.35s;
}

.navigation li:hover a:after{
	width: 100%	;
}

.sgmenu-1 a{
	background-image: url('../img/theme/grad.png'), url('../img/theme/sgmenu-1.jpg');
	background-position: bottom, center;
	background-repeat: repeat-x, no-repeat;
}

.sgmenu-1 a:after{
	background: #e55459;
}

.sgmenu-2 a{
	background-image: url('../img/theme/grad.png'), url('../img/theme/sgmenu-2.jpg');
	background-position: bottom, center;
	background-repeat: repeat-x, no-repeat;	
}
.sgmenu-2 a:after{
	background: #4fa6c9;
}

.sgmenu-3 a{
	background-image: url('../img/theme/grad.png'), url('../img/theme/sgmenu-3.jpg');
	background-position: bottom, center;
	background-repeat: repeat-x, no-repeat;	
}

.sgmenu-3 a:after{
	background: #eee2b2;
}

.sgmenu-4 a{
	background-image: url('../img/theme/grad.png'), url('../img/theme/sgmenu-4.jpg');
	background-position: bottom, center;
	background-repeat: repeat-x, no-repeat;	
}

.sgmenu-4 a:after{
	background: #c6a1df;
}

.main-content{
	margin-top:20px;
}

.feature-home-posts{
	margin: 20px 0px 0px;
	padding: 0px;
	box-shadow: rgba(255,255,255,0.13) 0 1px 0 inset,rgba(0,0,0,0.5) 0 1px 3px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 20px 15px;
}
.feature-home-posts li{
	list-style: none;
}

.feature-home-posts p{
	font-family:'Open Sans', sans-serif;
}

.meta-timestamp{
	font-size:12px;
	margin-bottom:10px;
	color:#9f989a;
}
.random-gallery a{
	position: relative;
	display: block;
	overflow: hidden;	
}

.random-gallery img{
	margin-top:20px;
	float:right;
}
.overlay{
	position: absolute;
	bottom:0;
	right: 0;
	width:100%;
	max-width:378px;
	height:100%;
	background-image: url('../img/theme/grad.png');
	background-position: bottom;
	background-repeat: repeat-x;	
}


#mc_embed_signup form {
	padding: 0px !important;
	margin: 0px;
	width: 100%;
}
#mc_embed_signup{
	padding-top:10px;
}

#mc_embed_signup .form-group{
	width: 78%;
	float:left;
	padding-right:4px;
}
#mc_embed_signup .form-control{
	width: 100%;	
	border-color: #ccc;
}
.sign-up{
	margin: 40px 0px 0px;
	padding: 0px;
	box-shadow: rgba(255,255,255,0.13) 0 1px 0 inset,rgba(0,0,0,0.5) 0 1px 3px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 20px 15px;
}
#mc-embedded-subscribe{
	width:22%;
	padding: 6px 5px;
	background: #e02531;
	color: #fff;	
}
#mc-embedded-subscribe:hover{
	background: #9f151e
}

.left-side{
	margin: 20px 0px 0px;
	padding: 0px;
	box-shadow: rgba(255,255,255,0.13) 0 1px 0 inset,rgba(0,0,0,0.5) 0 1px 3px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 20px 15px;
}

.team{
	margin:0px auto;
	padding:0px;
}
.team li{
	list-style: none;
	margin-bottom:40px;
	padding-left:0px;
	padding-right:30px;

}
.team li span {
	position: relative;
	max-width: 150px;
	display: block;
}

.team h3{
	position: absolute;
	bottom: 0px;
	color:#fff;
	font-size:13px;
	left:5px;
}
.team li img{
	box-shadow: rgba(255,255,255,0.13) 0 1px 0 inset,rgba(0,0,0,0.5) 0 1px 3px;
}


.footer{
}


.footer{
	position: relative;
	background:url('../img/theme/bg-footer.png');
	margin-top:70px;
	color:#fff;
	padding-top:30px;
	min-height: 180px;
}
.footer ul{
	width: 49%;
	margin: 0px auto;
	overflow: hidden;
}
.footer p{
	clear:both;
	padding-top:50px;
	font-size:11px;
	text-align: center;
}

.footer ul{
	margin:0px auto;
	padding:0px;
}

.footer li{
	list-style: none;
	float:left;
	text-transform: capitalize;
}

.footer li a:link,
.footer li a:visited{
	color:#fff;
	font-size: 17px;
	padding:10px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	display: block;	
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;		
}
article{
	clear:both;
	overflow: hidden;
}

.gallery{
	margin:0px;
	padding:0px;
}
.gallery li{
	list-style: none;
	padding-left:0px;
	padding-right:30px;	
	margin-bottom:30px;
}
.gallery li a {
	max-width: 150px;
	display: block;
	position: relative;
}
.gallery li img {
	box-shadow: rgba(255,255,255,0.13) 0 1px 0 inset,rgba(0,0,0,0.5) 0 1px 3px;
}

.gallery li a:after {
	background: #fff;
	opacity: .7;
	content: "";
	width: 10px;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	z-index: 2;
	-webkit-transition: width 0.35s;
	transition: width 0.35s;
}
.gallery li span.title{
	overflow: hidden;
	max-width: 150px;
	display: none;
	position: absolute;
	bottom: 10;
	left: 5;	
}
.gallery li:hover span.title{
	display: block;
	color:#fff;
	font-size:13px;
	font-family:'Open Sans', sans-serif;

}

.gallery li:hover a:after{
	width: 100%	;
}






.footer li a:focus,
.footer li a:hover{
	background: #fff;
	color:#9d0a0a;
}
.footer li li{
	display:none;
}

.pagination{
	clear:both;
	display: block;
}
@media (max-width:768px) {
	.random-gallery img {
		float:none;
		margin:40px auto 0px;
	}
	.random-gallery .overlay{
		left:0px;
	}
	.random-gallery .overlay{
		clear: both;
		margin-top: 30px;
	}	
}

@media (max-width:356px) {
	.team .col-xs-4{
		width:50%;
	}
	.navigation .col-xs-3{
		margin-bottom:20px;
		width:50%;
	}
}